h1{color: deeppink;font-family:arial, sans-serif; font-size:5;}
img {border-radius: 10px;
border: 2px solid black;}
img:hover {
	transform: scale(1.2);
	transition: 1s;
}
.boton-inicio{
	border: 1px solid black;
	background: darkred;
color: red;
padding: 10px;
margin: 30px;
}
.boton-inicio:hover {
color: darkred;
border: 10px solid black;
background: blueviolet;
}

.img-header{
	Display: flex;
	justify-content: center;
}
.videoxd{
	Display: flex;
	justify-content: center;
}
.audioxd{
	Display: flex;
	justify-content: center;
}
p{color: deeppink;font-family:arial, sans-serif; font-size:5;}